/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/


*, *::before, *::after
    box-sizing: border-box

*
    margin: 0
    font-size: 1.1rem

@media (prefers-reduced-motion: no-preference)
    html
        interpolate-size: allow-keywords

body
    line-height: 1.5
    -webkit-font-smoothing: antialiased

img, picture, video, canvas, svg
    display: block
    max-width: 100%

input, button, textarea, select
    font: inherit

p, h1, h2, h3, h4, h5, h6
    overflow-wrap: break-word

#root, #__next
    isolation: isolate

a
    text-decoration: none
    border-bottom: 2px solid var(--accent-70)
    color: inherit
    font-size: inherit

a:hover
    border-bottom: 3px solid var(--accent)